<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">    
    <h2>Añadir nuevo proveedor</h2>
    <form (ngSubmit)="onSubmit()" #formpro="ngForm">
        <div class="form-group">
          <label>Nombre</label>
          <i class="fa fa-check-circle check" 
               *ngIf="nombre.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="nombre.invalid && nombre.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="nombre"
                 name="nombre"
                 ngModel
                 required
                 #nombre="ngModel">
          <p class="alert alert-danger" *ngIf="nombre.invalid && nombre.touched">
            El campo nombre es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>C.I.F.</label>
           <i class="fa fa-check-circle check" 
               *ngIf="cif.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="cif.invalid && cif.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="cif"
                 name="cif"
                 ngModel
                 required
                 #cif="ngModel">
          <p class="alert alert-danger" *ngIf="cif.invalid && cif.touched">
            El campo C.I.F. es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Dirección</label>
           <i class="fa fa-check-circle check" 
               *ngIf="direccion.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="direccion.invalid && direccion.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="direccion"
                 name="direccion"
                 ngModel
                 required
                 #direccion="ngModel">
          <p class="alert alert-danger" *ngIf="direccion.invalid && direccion.touched">
            El campo Dirección es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Código Postal</label>
           <i class="fa fa-check-circle check" 
               *ngIf="cp.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="cp.invalid && cp.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="cp"
                 name="cp"
                 ngModel
                 required
                 #cp="ngModel">
          <p class="alert alert-danger" *ngIf="cp.invalid && cp.touched">
            El campo Código Postal es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Localidad</label>
           <i class="fa fa-check-circle check" 
               *ngIf="localidad.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="localidad.invalid && localidad.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="localidad" 
                 name="localidad"
                 ngModel
                 required
                 #localidad="ngModel">
          <p class="alert alert-danger" *ngIf="localidad.invalid && localidad.touched">
            El campo Localidad es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="provincia">Provincia</label>
           <i class="fa fa-check-circle check" 
               *ngIf="provincia.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="provincia.invalid && provincia.touched"></i> 
          <select class="form-control" 
                  id="provincia"
                  ngModel
                  name="provincia"
                  required
                  #provincia="ngModel">
                  <option value="">Seleccione la provincia</option> 
                  <option *ngFor="let provincia of provincias"
                  [value]="provincia">{{provincia}} </option> 
          </select>
          <p class="alert alert-danger" *ngIf="provincia.invalid && provincia.touched">
            El campo Provincia es obligatorio.
          </p>
        </div> 
        <div class="form-group">
          <label>Teléfono</label>
           <i class="fa fa-check-circle check" 
               *ngIf="telefono.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="telefono.invalid && telefono.touched"></i>
          <input type="number" 
                 class="form-control"
                 id="telefono"
                 name="telefono"
                 ngModel
                 required
                 #telefono="ngModel">
          <p class="alert alert-danger" *ngIf="telefono.invalid && telefono.touched">
            El campo Teléfono es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label>Correo Electrónico</label>
          <i class="fa fa-check-circle check" 
               *ngIf="email.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="email.invalid && email.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="email"
                 name="email"
                 ngModel
                 required
                 email
                 #email="ngModel">
          <p class="alert alert-danger" *ngIf="email.invalid && email.touched">
            Por favor introduzca una dirección de correo correcta.
          </p>
        </div>
        <div class="form-group">
          <label>Persona de contacto</label>
           <i class="fa fa-check-circle check" 
               *ngIf="contacto.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
               *ngIf="contacto.invalid && contacto.touched"></i>
          <input type="text" 
                 class="form-control"
                 id="contacto"
                 name="contacto"
                 ngModel
                 required
                 #contacto="ngModel">
          <p class="alert alert-danger" *ngIf="contacto.invalid && contacto.touched">
            El campo Persona de contacto es obligatorio.
          </p>
        </div>
      <button type="submit" 
              class="btn btn-success"
              [disabled]="!formpro.valid"
              >Añadir Proveedor</button>
      <p class="alert alert-danger " *ngIf="!formpro.valid">
        Por favor complete todos los campos
      </p> 

    <hr>
      <pre> Estado Dirty: {{ formpro.controls.email.dirty }}</pre>
      <pre> Estado Pristine: {{ formpro.controls.email.pristine }}</pre>
      <pre> Estado Touched: {{ formpro.controls.email.touched }}</pre>
      <pre> Estado Valid: {{ formpro.controls.email.valid }}</pre>
      <pre> Estado Invalid: {{ formpro.controls.email.invalid }}</pre>
    </form>
  </div>
</div>

